.erpnext-footer {
  margin: 11px auto;
  text-align: center;
}
.show-all-reports {
  margin-top: 5px;
  font-size: 11px;
}
/* toolbar */
.toolbar-splash {
  width: 32px;
  height: 32px;
  margin: -10px auto;
}
/* pos */
.pos-item-area {
  padding: 0px 10px;
}
.pos-item-wrapper {
  padding: 5px;
}
.pos-item {
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  padding: 5px;
  padding-bottom: 15px;
  border: 1px solid #d1d8dd;
  margin-bottom: 5px;
}
.pos-item-text {
  padding: 0px 5px;
}
.pos-item .item-code {
  margin-bottom: 0px;
}
.pos-item .no-image {
  background-color: #fafbfc;
  border: 1px dashed #d1d8dd;
}
.pos-item-image {
  width: 100%;
  height: 0px;
  padding: 50% 0;
  text-align: center;
  line-height: 0;
  color: #d1d8dd;
  font-size: 30px;
  background-size: contain;
  border: 1px solid transparent;
  background-position: center;
  background-repeat: no-repeat;
}
.pos-item-area {
  border: 1px solid #d1d8dd;
  border-top: none;
}
.pos-item-toolbar {
  padding: 10px 0px;
  border-bottom: 1px solid #d1d8dd;
}
.item-list-area {
  padding: 15px 0px;
}
.pos-toolbar,
.pos-bill-toolbar {
  padding: 10px 0px;
  border-bottom: 1px solid #d1d8dd;
  height: 51px;
}
.pos-item-toolbar .form-group {
  margin-bottom: 0px;
}
.pos-bill-wrapper {
  border: 1px solid #d1d8dd;
  border-top: none;
  margin-right: -1px;
}
.pos-bill {
  margin-left: -15px;
  margin-right: -15px;
}
.pos-bill-row {
  margin: 0px;
  padding: 7px 0px;
  border-top: 1px solid #d1d8dd;
}
.pos-bill-header {
  border: none !important;
  background-color: #f5f7fa;
}
.pos-item-qty {
  display: inline-block;
}
.pos-qty-row > div {
  padding: 5px 0px;
}
.pos-qty-btn {
  margin-top: 3px;
  cursor: pointer;
  font-size: 120%;
}
.pos .search-area .form-group {
  max-width: 100% !important;
}
.pos .tax-table {
  margin-bottom: 10px;
}
.erpnext-icon {
  width: 24px;
  ackmargin-right: 0px;
  margin-top: -3px;
}
.pos .discount-amount-area .discount-field-col {
  padding-left: 0px;
}
.pos .discount-amount-area .input-group {
  margin-top: 2px;
}

.dashboard-list-item {
  background-color: inherit;
  padding: 5px 0px;
  border-bottom: 1px solid #d1d8dd;
}
#page-stock-balance .dashboard-list-item {
  padding: 5px 15px;
}
.dashboard-list-item:last-child {
  border-bottom: none;
}
.payment-toolbar .row {
  width: 323px;
  margin: 0 auto;
}
.payment-mode {
  cursor: pointer;
  font-family: sans-serif;
  font-size: 15px;
}
.pos-payment-row .col-xs-6 {
  padding: 15px;
}
.pos-payment-row {
  border-bottom: 1px solid #d1d8dd;
  margin: 2px 0px 5px 0px;
  height: 60px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.pos-payment-row:hover,
.pos-keyboard-key:hover {
  background-color: #FAFBFC;
  cursor: pointer;
}
.pos-keyboard-key,
.delete-btn {
  border: 1px solid #d1d8dd;
  height: 85px;
  width: 85px;
  margin: 10px 10px;
  font-size: 24px;
  font-weight: 200;
  background-color: #FDFDFD;
  border-color: #e8e8e8;
}
.multimode-payments {
  padding-left: 30px;
}
.payment-toolbar {
  padding-right: 30px;
}
body[data-route="pos"] .modal-dialog {
  width: 750px;
}
@media (max-width: 767px) {
  body[data-route="pos"] .modal-dialog {
    width: auto;
  }
  body[data-route="pos"] .modal-dialog .modal-content {
    height: auto;
  }
}
@media (max-width: 767px) {
  .amount-row h3 {
    font-size: 15px;
  }
  .pos-keyboard-key,
  .delete-btn {
    height: 50px;
  }
  .multimode-payments {
    padding-left: 15px;
  }
  .payment-toolbar {
    padding-right: 15px;
  }
}
.amount-label {
  font-size: 16px;
}
.selected-payment-mode {
  background-color: #FAFBFC;
  cursor: pointer;
}
.pos-invoice-list {
  padding: 15px 10px;
}
.write_off_amount,
.change_amount {
  margin: 15px;
  width: 130px;
}
/******************************************
 *        CUSTOM CSS STARTS HERE          *
 ******************************************/

/*get items from button in material request & quotation*/
/*#page-Form\2f Quotation > div.container.page-body > div.page-wrapper > div > div.row.layout-main > div.col-md-10.layout-main-section-wrapper > div.layout-main-section > div.form-inner-toolbar > div,
#page-Form\2f Material\20 Request > div.container.page-body > div.page-wrapper > div > div.row.layout-main > div.col-md-10.layout-main-section-wrapper > div.layout-main-section > div.form-inner-toolbar > button {
	display: none;
}
*/
#page-Form\2f RRCO\20 Receipt > div.page-head > div > div > div.col-md-7.col-sm-8.col-xs-6.page-title > h1 {
	display: none!important;
}

#page-desktop {
	background-size: 70% !important;
	background-image: url("/files/smcl_logo_background.png");
	background-repeat: no-repeat !important;
	background-position: center !important;
	background-color: #2b4d80 !important;
}

@media all {
   div .printedby {
       position: fixed;
       bottom: 0;
       text-align: right;
       font-size: xx-small;
       width: 100% !important;
   }
}

.form-attachments {
//	display: none !important;
}


